In [3]:
import pandas as pd
import numpy as np

In [6]:
# Input given Data
data = {'Subject': ['Math', 'Physics', 'Chemistry', 'Biology'],
'Student_A': [80, 85, np.nan, 70],
'Student_B': [90, np.nan, 75, 85],
'Student_C': [80, 88, np.nan, 78]}
# create Dataframe
df = pd.DataFrame(data)
# Interpolate missing values
df_interpolated = df.interpolate()
# Display the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
     Subject  Student_A  Student_B  Student_C
0       Math       80.0       90.0       80.0
1    Physics       85.0        NaN       88.0
2  Chemistry        NaN       75.0        NaN
3    Biology       70.0       85.0       78.0

C:\Users\HP\AppData\Local\Temp\ipykernel_6988\2971781877.py:9: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()

In [7]:
# Display after fill in the missing values
print("\nDataFrame after interpolation:")
print(df_interpolated)

DataFrame after interpolation:
     Subject  Student_A  Student_B  Student_C
0       Math       80.0       90.0       80.0
1    Physics       85.0       82.5       88.0
2  Chemistry       77.5       75.0       83.0
3    Biology       70.0       85.0       78.0