In [1]:
import pandas as pd

In [20]:
github_link_csv = 'https://raw.githubusercontent.com/AnudipAE/DANLC/master/radius_data.csv'
# Use read_csv for CSV file
df = pd.read_csv(github_link_csv)
print(df)

   CircleName    Radius
0         SAY  3.798717
1         PSN  9.958397
2         JDP  5.142711
3         AUO  3.319584
4         OHG  1.138395
..        ...       ...
95        PVZ  7.798122
96        SQR  5.133239
97        NSM  9.761868
98        SXE  6.774164
99        JNT  2.823492

[100 rows x 2 columns]

In [18]:
#Use scipy constant
from scipy import constants as cons
print(cons.pi)

3.141592653589793

In [23]:
# Program to calculate the area of a circle
data={'CircleName':['SAY','PSN','JDP','AUO','OHG'],'Radius':[3.798717,9.958397,5.142711,3.319584,1.138395]}
df=pd.DataFrame(data)
df['Area']=df['Radius']**2 * cons.pi
#save the file
df.to_csv('Area.csv',index=False)
#display the first 5 records
df.head()

  CircleName    Radius        Area
0        SAY  3.798717   45.333970
1        PSN  9.958397  311.550709
2        JDP  5.142711   83.087198
3        AUO  3.319584   34.619214
4        OHG  1.138395    4.071326